{% extends "base.html" %}

{% block content %}
<p class="fs-1">Подготовка отчёта</p>
<form method="post" id="reportForm">
  {% csrf_token %}
  <!-- Выбор проекта -->
  <div class="mb-3">
    <label for="project" class="form-label">Выберите проект:</label>
    <select name="project" id="project_id" class="form-select">
      <option value="">-- Выберите проект --</option>
      {% for project in projects %}
        {% if project.has_rates %}
          <option value="{{ project.id }}">{{ project.title }}</option>
        {% else %}
          <option value="{{ project.id }}" disabled class="text-muted" title="У проекта нет ни одной доски с указанными ставками">
            {{ project.title }} (нет ставок)
          </option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  
  <!-- Выбор доски -->
  <div class="mb-3">
    <label for="board" class="form-label">Выберите доску:</label>
    <select name="board" id="board" class="form-select">
      <option value="">-- Сначала выберите проект --</option>
    </select>
  </div>
  <div class="alert alert-info" role="alert" style="border-radius: 0.25rem; background: linear-gradient(135deg, #f9f9f9, #ffffff); border: 1px solid #d1d1d1; padding: 20px;">
    <p class="mb-2" style="color: #6c757d;">Если для выбранной доски не заданы ставки по каким-либо ролям, для которых существуют стандартные ставки, то вы увидете метку 
      <span style="color: #007bff;">(автоставки)</span>.</p>
  </div>
  <!-- Выбор временного периода -->
  <div class="mb-3 d-flex align-items-center">
    <label for="start_date" class="form-label me-3 text-start" style="width: 120px;">Начальная дата</label>
    <div style="width: 130px;">
      <input type="date" name="start_date" id="start_date" class="form-control" value="{{ today }}">
    </div>
  </div>
  
  <div class="mb-3 d-flex align-items-center">
    <label for="end_date" class="form-label me-3 text-start" style="width: 120px;">Конечная дата</label>
    <div class="d-flex align-items-center" style="width: 130px;">
      <input type="date" name="end_date" id="end_date" class="form-control me-2" value="{{ today }}">
      <button type="button" class="btn btn-outline-secondary btn-sm" id="setTodayButton">Сегодня</button>
    </div>
  </div>
  
  <div class="mb-3">
    <span id="dateError" class="text-danger"></span>
  </div>

  <!-- Выбор шаблона -->
  <div class="mb-3">
    <label for="template" class="form-label">Выберите шаблон:</label>
    <select name="template" id="template" class="form-select">
      <option value="">-- Выберите шаблон --</option>
      {% for tmpl in templates %}
        <option value="{{ tmpl.id }}">{{ tmpl.file.name|cut:"docxTemplate/savedFiles/"|slice:":-5" }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit" class="btn btn-primary" id="prepareReportButton" disabled>Подготовить отчёт</button>
</form>

<script>
  // Подгрузка списка досок при выборе проекта (для отчёта)
  document.getElementById('project_id').addEventListener('change', function() {
  const selectedProjectId = this.value;
  fetch(`/get_boards/?space_id=${selectedProjectId}&for_report=1`)
    .then(response => response.json())
    .then(data => {
      const boardSelect = document.getElementById('board');
      boardSelect.innerHTML = '';
      if (data.boards.length > 0) {
        data.boards.forEach((board, index) => {
          const option = document.createElement('option');
          option.value = board.id;
          let optionText = board.title;
          if (!board.has_rates) {
            optionText += " (нет ставок)";
            option.disabled = true;
          }
          option.text = optionText;
          if (index === 0 && board.has_rates) {
            option.selected = true;
          }
          boardSelect.appendChild(option);
        });
      } else {
        const option = document.createElement('option');
        option.value = '';
        option.text = '-- Нет досок --';
        boardSelect.appendChild(option);
      }
      checkFormValidity();
    });
  });

  // Функция проверки заполненности формы и корректности дат
  function checkFormValidity() {
    const projectSelect = document.getElementById('project_id');
    const startDateInput = document.getElementById('start_date');
    const endDateInput = document.getElementById('end_date');
    const templateSelect = document.getElementById('template');
    const button = document.getElementById('prepareReportButton');
    const dateError = document.getElementById('dateError');
    let valid = true;
    
    dateError.textContent = '';

    if (!projectSelect.value || !startDateInput.value || !endDateInput.value || !templateSelect.value) {
      valid = false;
    }
    
    if (startDateInput.value && endDateInput.value) {
      const start = new Date(startDateInput.value);
      const end = new Date(endDateInput.value);
      if (start > end) {
        dateError.textContent = "Начальная дата не может быть позже конечной.";
        valid = false;
      }
    }
    
    button.disabled = !valid;
  }


  document.getElementById('project_id').addEventListener('change', checkFormValidity);
  document.getElementById('start_date').addEventListener('input', checkFormValidity);
  document.getElementById('end_date').addEventListener('input', checkFormValidity);
  document.getElementById('template').addEventListener('change', checkFormValidity);

  document.getElementById('setTodayButton').addEventListener('click', function() {
    const today = "{{ today }}";
    document.getElementById('end_date').value = today;
    checkFormValidity();
  });

  document.addEventListener('DOMContentLoaded', checkFormValidity);
</script>
{% endblock %}
